<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mega Cart</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Itim&family=Jockey+One&display=swap" rel="stylesheet">
	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="css/admindash.css">
	<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
	rel="stylesheet"
	/>
	<!-- Google Fonts -->
	<link
	href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
	rel="stylesheet"
	/>
	<!-- MDB -->
	<link
	href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css"
	rel="stylesheet"
	/>
  <link rel="stylesheet" href="css/style.css">
  <style>

  </style>
</head>

<body>
  <!--Main Navigation-->
  <header>
    <!-- Jumbotron -->
    <div class="p-3 text-center" style=" background: linear-gradient(135deg, #332033, #3c3535)">

      <div class="container-fluid">
        <div class="row gy-3">
          <!-- Left elements -->-
          <div class="col-lg-2 col-sm-4 col-4">
            <a style=" color: white;" href="/adminDash" class="brand">
              <h2 style="font-weight: 400;color: #ffff; font-family: 'Jockey One', sans-serif; color: black;"><span
                style="font-family: 'Itim', cursive;color: white;">M</span>
                <span style="color: green; font-size: 25px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Admin</span>
              </h2>
            </a>
          </div>
          <!-- Left elements -->

          <!-- Center elements -->
          <!-- Center elements -->

          <!-- Right elements -->
          <!-- Right elements -->
        </div>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- Navbar -->

    <!-- Navbar -->
  </header>
  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="adminlogin.css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
<body>
<div class="container">
    <div class="card card-login mx-auto text-center ">
        <div class="card-header mx-auto ">
            <span style="color: black;"> MEGA CART </span><br/>
                        <span class="logo_title mt-5" style="color: black;"> Admin Login </span>

        </div>
        <div class="card-body">
            <form action="/api/admin1" method="post">
                <div class="input-group form-group">
                    <!-- <div class="input-group-prepend">
                        <span style="background-color: #392539;" class="input-group-text"><i  class="fas fa-user"></i></span>
                    </div> -->
                    <input type="text" name="email" class="form-control" placeholder="Username">
                </div>

                <div class="input-group form-group">
                    <!-- <div class="input-group-prepend">
                        <span style="background-color: #392539;" class="input-group-text"><i class="fas fa-key"></i></span>
                    </div> -->
                    <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
                <% if(logError){ %>
                <p style="color: red;">Invalid Password or Email</p>
                <% } %>
                <div class="form-group" style="width: 100%; display: flex; justify-content: center; margin-top: 40px;">
                    <input type="submit" name="btn" value="Login" class="btn  float-right login_btn" style=" color: white; background-color: #392539;">
                </div>

            </form>
        </div>
    </div>
</div>
</body>
</html>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css" rel="stylesheet" />





  <footer class="text-center text-white"
    style="background: linear-gradient(180deg, hsl(294, 9%, 56%) -150.55%, rgb(24 2 27 / 90%) 80.99%); bottom: 0; width: 100%; position: fixed;">
    <span style="opacity: .7; font-size: 13px; margin-bottom: 30px; margin-top: -30px;"> © 2020 Copyright:</span>
    <a class="text-white" href="https://mdbootstrap.com/" style="opacity: .7; font-size: 12px;">MegaCartadmin</a>
  </footer>
  <!-- Footer -->

  </div>
  <!-- End of .container -->
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"></script>

</html>

<style>
  .admin {
    font-size: 10px;
    color: chartreuse;
    opacity: .8;
  }

  body{
    background-color: white;
  }

.card-login {
  background-color: rgba(0, 128, 0, 0.093);
    margin-top: 130px;
    padding: 18px;
    width: 27rem;
   border-radius: 10px;
} 

.card-header {
  background-color:transparent;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600 !important;
    margin-top: 10px;
    border-bottom: 0;
}

.input-group-prepend span{
    width: 50px;
    background-color: #ff0000;
    color: #fff;
    border:0 !important;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
}

.login_btn{
    width: 130px;
}

.login_btn:hover{
    color: #fff;
    background-color: #ff0000;
}

.btn-outline-danger {
    color: #fff;
    font-size: 18px;
    background-color: #28a745;
    background-image: none;

}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1.2rem;
    line-height: 1.6;

    background-color: transparent;
    background-clip: padding-box;

    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.6;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0;
}

</style>




