<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Review Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <!-- Jumbotron -->
        <div class="p-2 nav-div text-center" style="background-color: #392539 !important;">
    
          <div class="container-fluid">
            <div class="row gy-3">
              <!-- Left elements -->
              <div class="col-lg-2 col-sm-4 col-4">
                <a href="/" class="float-md-none">
                  <img style="height: 30px;  margin-top: 13px;" src="/img/MegaCart Logo.png" alt="">
                  </a>
              </div>
              <!-- Center elements -->
    
              <!-- Right elements -->
              <div class="col-lg-5 mb-2 col-md-12 col-12" style="visibility: hidden;">
                <div class="input-group float-center">
                  <div class="form-outline bg-white" style="border-radius: 5px;">
                    <input type="search" id="form1" class="" />
                    <label class="form-label" for="form1">Search</label>
                  </div>
                  <button type="button" class="btn btn-white shadow-0" style="background-color: #BF7DC1 ;">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
              <!-- Right elements -->
            </div>
          </div>
        </div>
        <!-- Jumbotron -->
    
      </header>

<div class="container mt-5" style="min-height: 81vh;">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="/review-submit?id=<%=id  %>" method="post">
                <h2 class="text-center mb-4">Product Review</h2>
                <div style="height: 100px; width: 100%; overflow: hidden; display: flex; justify-content: center; align-items: center;">
                    <img style="object-fit: cover; width: 100px; height: 100px;" class="border mx-auto" src="<%= imgUrl %>" alt="">
                </div>
                <div class="form-group text-center">
                    <label for="rating">Rating:</label>
                    <div id="rating" class="star-rating">
                        <input  hidden type="radio" name="rating" value="1" id="5-stars">
                        <label for="5-stars" class="fas fa-star"></label>
                        <input hidden type="radio" name="rating" value="2" id="4-stars">
                        <label for="4-stars" class="fas fa-star"></label>
                        <input hidden type="radio" name="rating" value="3" id="3-stars">
                        <label for="3-stars" class="fas fa-star"></label>
                        <input hidden type="radio" name="rating" value="4" id="2-stars">
                        <label for="2-stars" class="fas fa-star"></label>
                        <input hidden type="radio" name="rating" value="5" id="1-star">
                        <label for="1-star" class="fas fa-star"></label>
                    </div>
                </div>

                <!-- Review Title -->
                <div class="form-group">
                    <label for="title">Review Title:</label>
                    <input type="text" class="form-control" id="title" name="title" required>
                </div>
                <div class="form-group">
                    <label for="description">Review Description:</label>
                    <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn  btn-block">Submit Review</button>
            </form>
        </div>
    </div>
</div>


<footer class="text-center text-white"
style="background: linear-gradient(180deg, #978699 -150.55%, rgb(24 2 27 / 90%) 80.99%); bottom: 0; width: 100%;">
<span style="opacity: .7; font-size: 13px; margin-bottom: 30px; margin-top: -30px;"> © 2020 Copyright:</span>
<a class="text-white" href="https://mdbootstrap.com/" style="opacity: .7; font-size: 12px;">MegaCart</a>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        $('.star-rating input').on('change', function () {
            var rating = $(this).val();
            $('.star-rating label').css('color', '');
            $('.star-rating input:checked + label').prevAll('label').css('color', 'gold');
            $('.star-rating input:checked + label').css('color', 'gold');
            // You can use the 'rating' variable to perform actions based on the selected rating.
            // For example, update a hidden input field in the form with the selected rating.
            // $('#selectedRating').val(rating);
        });
    });
</script>

</body>
</html>
