<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/png" href="/img/megacartFavicon.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>MegaCart UserUpdate.net</title>
    <style>
         #preloader{
            background: white url(img/load.gif) no-repeat  center;
            background-size: 15%;
            height: 100vh;
            width: 100%;
            position: fixed;
            z-index:100;
            }
    </style>
</head>

<body>
    <header>
        <!-- Jumbotron -->
        <div class="px-2 nav-div text-center"
          style="background-color: #392539 !important ;justify-content: center; height: 70px;">
    
          <div class="container-fluid">
            <div class="row gy-3">
              <!-- Left elements -->
              <div class="col-lg-2 col-sm-4 col-4">
                <a href="/" class="float-md-none">
                  <img style="height: 30px;  margin-top: 16px;" src="/img/MegaCart Logo.png" alt="">
                  </a>
              </div>
            </div>
            <!-- Center elements -->
    
            <!-- Right elements -->
            <div class="col-lg-5 col-md-12 col-12" style="visibility: hidden;">
              <div class="input-group float-center">
                <div class="form-outline bg-white" style="border-radius: 5px;">
                  <input type="search" id="form1" class="form-control" />
                  <label class="form-label" for="form1">Search</label>
                </div>
                <button type="button" class="btn btn-white shadow-0" style="background-color: #BF7DC1 ;">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
            <!-- Right elements -->
          </div>
        </div>
        </div>
        <!-- Jumbotron -->
    
      </header>


    <div id="preloader"></div>
    <div class="container mt-5" style="min-height: 86vh;">
        <form method="post" action="/update/post/user?email=<%=email %>">
            <% if(username){ %>
                <div class="form-group">
                    <label for="Username">Username</label>
                    <input type="text" class="form-control" id="username" value="<%=username  %>" name="username"
                        placeholder="Enter Username">
                </div>
                <% }else{ %>
                    <div class="form-group">
                        <label for="Username">Username</label>
                        <input type="text" class="form-control" id="username" value="<%=mobile %>" name="mobile"
                            placeholder="Enter Username">
                    </div>
                    <% } %>
                        <button type="submit" class="btn" style="background-color: #392539; color: white;">Submit</button>
        </form>
    </div>

    <footer class="text-center text-white"
    style="background: linear-gradient(180deg, #978699 -150.55%, rgb(24 2 27 / 90%) 80.99%); bottom: 0; width: 100%;">
    <span style="opacity: .7; font-size: 13px; margin-bottom: 30px; margin-top: -30px;"> © 2020 Copyright:</span>
    <a class="text-white" href="https://mdbootstrap.com/" style="opacity: .7; font-size: 12px;">MegaCart</a>
  </footer>

    <script>
            var loader=document.getElementById("preloader");
                window.addEventListener("load",function(){
                loader.style.display="none"
                })

    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>