<div class="lock"></div>
<div class="message">
  <h1>Access to this site is restricted</h1>
  <p>Please check with the site admin if you believe this is a mistake.</p>
</div>

<div id="preloader"></div>

<script>
      var loader=document.getElementById("preloader");
                window.addEventListener("load",function(){
                loader.style.display="none"
                })

</script>
<style>
  @import url('https://fonts.googleapis.com/css?family=Lato');


  * {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
  }

  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #EEE, #AAA);
  }
  #preloader{
            background: white url(images/load.gif) no-repeat  center;
            background-size: 15%;
            height: 100vh;
            width: 100%;
            position: fixed;
            z-index:100;
            }

  h1 {
    margin: 40px 0 20px;
  }
</style>