<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
<!-- MDB -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css" rel="stylesheet" />





<footer class="text-center text-white"
  style="background: linear-gradient(180deg, #978699 -150.55%, rgb(24 2 27 / 90%) 80.99%);">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>


      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4 ">
              <input type="email" id="form5Example2" class="form-control" placeholder="Email"
                style="background-color: white; color: black;">


            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4 btn shadow-none"
              style="background-color: white; color: black;">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->

    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">


          <ul class="list-unstyled mb-0" style="line-height: 40px;">
            <li>
              <a href="#!" class="text-white">Mega Cart store</a>
            </li>
            <li>
              <a href="#!" class="text-white">No.976 Kozhikkode Kerala </a>
            </li>
            <li>
              <a href="#!" class="text-white">+91 9037317210</a>
            </li>
            <li>
              <a href="#!" class="text-white">megacartecommerce@gmail.com</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="line-height: 40px;">


          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Privacy And Policy</a>
            </li>
            <li>
              <a href="#!" class="text-white">Shipping Policy</a>
            </li>
            <li>
              <a href="#!" class="text-white">Terms and Services</a>
            </li>
            <li>
              <a href="#!" class="text-white">Blogs</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="line-height: 40px;">


          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Laptop</a>
            </li>
            <li>
              <a href="#!" class="text-white">Smartphone</a>
            </li>
            <li>
              <a href="#!" class="text-white">Speakers</a>
            </li>
            <li>
              <a href="#!" class="text-white">Watches</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="line-height: 40px;">


          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Search</a>
            </li>
            <li>
              <a href="#!" class="text-white">About us</a>
            </li>
            <li>
              <a href="#!" class="text-white">FAQ</a>
            </li>
            <li>
              <a href="#!" class="text-white">Contact Us</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->
  <hr class="hr hr-blurry" />
  <!-- Copyright -->

  <span style="opacity: .7; font-size: 13px; margin-bottom: 30px; margin-top: -30px;"> © 2023 Copyright:</span>

  <a class="text-white" href="/" style="opacity: .7; font-size: 12px;">MegaCart</a>



  <!-- Copyright -->
</footer>
<!-- Footer -->

</div>
<!-- End of .container -->
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"></script>

</html>


<style>
  /* @media (max-width: 314px) {
    footer {
      position: fixed;
    }
  } */

  /* @media (max-width: 256px) {
    footer{
     position: fixed;
    }
  } */

  footer {
    margin-top: auto;
    background: linear-gradient(180deg, #978699 -150.55%, rgb(24 2 27 / 90%) 80.99%);
    padding: 4rem 0;
  }
</style>