<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Itim&family=Jockey+One&display=swap" rel="stylesheet">
	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="css/admindash.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
	<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
	rel="stylesheet"
	/>
	<!-- Google Fonts -->
	<link
	href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
	rel="stylesheet"
	/>
	<!-- MDB -->
	<link
	href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css"
	rel="stylesheet"
	/>
	<title>Admin</title>
</head>
<body>
	


	<!-- SIDEBAR -->
	<section id="sidebar">
		<a style="margin-left: 50px; color: black;" href="/adminDash" class="brand">
			<h2 style="font-weight: 400;color: #ffff; font-family: 'Jockey One', sans-serif; color: black;"><span
				style="font-family: 'Itim', cursive;color: black;">M</span>
				<span style="color: #BF7DC1; font-size: 25px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Admin</span>
			</h2>
		</a>
		<ul class="side-menu top p-0">
			<li id="one">
				<a class="ps-" href="/adminDash">
					<i class='bx bxs-dashboard'></i>
					<span class="text">Dashboard</span>
				</a>
			</li>

			<li id="two">
				<a class="ps-" href="/admin-products">
					<i class='bx bxs-message-dots' ></i>
					<span class="text">Products</span>
				</a>
			</li>
			
			<li id="three">
				<a class="ps-" href="/admin-order">
					<i class='bx bxs-doughnut-chart' ></i>
					<span class="text">Orders</span>
				</a>
			</li>
			
			<li id="four">
				<a class="ps-" href="/admin-users">
					<i class='bx bxs-group' ></i>
					<span class="text">Users</span>
				</a>
			</li>
			<li id="five">
				<a class="ps-1" href="/category/api">
					<i class='bx bxs-doughnut-chart' ></i>
					<span class="text">Categories</span>
				</a>
			</li>
			<li id="six">
				<a class="ps-3" href="/coupen/api" >
					<i style="margin-right: 11px;"  class="fa-solid fa-ticket"></i>
					<span class="text">Coupens</span>
				</a>
			</li>
			<li id="seven">
				<a class="ps-3" href="/banners/api" >
					<i style="margin-right: 11px;" class="fa-solid fa-chart-bar"></i>
					<span class="text">Banners</span>
				</a>
			</li>
		</ul>
		<script>
			const url = location.pathname;
			console.log(url, typeof url);
	
			switch(url){
				case '/adminDash':
					document.getElementById('one').classList.add('active');
					break;
				case '/admin-products':
					document.getElementById('two').classList.add('active');
					break;
				case '/admin-order':
					document.getElementById('three').classList.add('active');
					break;
				case '/admin-users':
					document.getElementById('four').classList.add('active');
					break;
				case '/category/api':
					document.getElementById('five').classList.add('active');
					break;
				case '/coupen/api':
					document.getElementById('six').classList.add('active');
					break;
				case '/banners/api':
					document.getElementById('seven').classList.add('active');
					break;
			}
		</script>
		<ul class="side-menu">
			<!-- <li>
				<a href="#">
					<i class='bx bxs-cog' ></i>
					<span class="text">Settings</span>
				</a>
			</li> -->
			<li>
				<a href="/admin/logout" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>

	<section id="content">

		<nav>
			<i class='bx bx-menu' ></i>
			<a href="#" class="nav-link">Categories</a>
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search...">
					<button type="submit" style="background-color: #BF7DC1;" class="search-btn"><i class='bx bx-search' ></i></button>
				</div>
			</form>
			<a href="#" class="notification">
				<i class='bx bxs-bell' ></i>
				<span class="num">8</span>
			</a>
			<a href="#" class="profile">
				<img src="img/people.png">
			</a>
		</nav>


		<!-- MAIN -->
		<main>
		

			

	
			
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	

	<script src="js/adminbase.js"></script>
</body>
</html>
<style>


</style>
